.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.card{
  display: flex;
  flex-direction: column;
  padding:20px;
  background-color: #3b4d67;
  height:200px;
  width:400px;
  margin:20px 20px;
  color:#ded3d3;
  box-shadow: 10px 10px 26px -5px rgba(84,84,84,1);

}
.teamCards{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.teamTitle{
  text-align: center;
}
.name, .email{
  margin:20px;
}

.inputEmail, .inputName, .inputRole{
  margin:250px 10px;
}
.addButton{
  background-color:#2f3d50;
  color:#ded3d3;
  padding:14px 20px;
  margin:20px 0;
  font-size: 19px;
  border-radius: 40px;
}
.addButton:hover{
  background-color:#3b4d67;

}
.addButton:focus{
  outline:none;
}